@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-button-color: #50a728;
  --color-text-color: #343434;
  --color-basket: #959595;
  --color-primary: #017dd7;
  --color-secondary: #00199c;
  --color-error: #ff0033;
  --color-success: #10b981;
  --color-money: #157811;
  --color-splash-bg: #1f2937;
  --color-border-color: #e5e5e5;
  --color-placeholder-color: #a3a3a3;
}

@layer components {
  .touchable {
    @apply active:opacity-30 transition-opacity  duration-200;
  }
  .cart-text {
    @apply text-white font-semibold tracking-wide;
    .truncate-2 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all; /* ou: overflow-wrap: anywhere; */
    }
  }
}

/* (opcional) se quiser definir onde o Tailwind deve buscar classes
@source "./index.html";
@source "./src/";*/

html,
body {
  font-family: "Poppins", "Inter", ui-sans-serif, system-ui, sans-serif;
}
